<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::head"></head>
<body class="air bg-white">
<header th:replace="fragments/navbar::nav">
</header>


<main>
    <div class="container">
        <section class="py-4 text-center">
            <h1 class="fw-light">Всички области</h1>
            <p class="lead text-muted">Разгледай и виж обекти в България. Пътувай и опознай България.</p>
            <p>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/cities/add}" class="btn btn-primary my-2">Добави
                    обект</a>
              </p>
        </section>
        <hr class="featurette-divider">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 py-5">
            <div class="col" th:each="c : ${cities}" th:object="${c}">
                <div class="card h-100 shadow">
                    <img th:src="*{getImageUrl()}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="|*{name}|"></h5>
                        <div class="d-flex flex-row justify-content-between my-2 small">
                            <div>
                                <span class="text-black-50 me-2"><i class="fa-solid fa-comment-dots me-1"></i></i>
                                    12</span>
                                <span class="text-light-secondary"><i class="fa-solid fa-heart me-1"></i>5</span>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/cities/{id}/details(id=*{id})}" class="btn btn-primary m-3">Разгледай</a>
                </div>
            </div>
        </div>

    </div>
</main>


<footer class="container-fluid" th:replace="fragments/footer::footer"></footer>

</body>
</html>

