<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:replace="fragments/head::head"></head>
<body class="air">
<header th:replace="fragments/navbar::nav">
</header>
<div class="container w-960">
    <main>
        <div class="py-5 text-center">
            <h2 class="text-primary">Добави забележителност</h2>
            <p class="lead text-muted">Попълнете форма, за да Добави забележителност в Разгледай БГ</p>
        </div>
        <div class="col-md-8 offset-md-2">
            <form th:action="@{/places/add}" th:method="POST" th:object="${placeAddBindModel}" class="needs-validation"
                  novalidate
                  enctype="multipart/form-data">
                <div class="row g-3">
                    <h5 class="mb-3 text-primary">Основна информация</h5>

                    <div class="col-12">
                        <label for="title" class="form-label">Име на забележителност</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text text-muted"><i class="fa-solid fa-location-dot"></i></span>
                            <input th:field="*{name}" th:errorclass="is-invalid" id="title" type="text"
                                   placeholder="Въведете име"
                                   name="title" class="form-control">
                            <small id="titleHelpInline" class="invalid-feedback errors alert alert-danger">
                                Въведи валидно име на обект</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="description" class="form-label">Описание</label>
                        <textarea th:field="*{description}" th:errorclass="is-invalid" id="description"
                                  placeholder="Въведете описание" class="form-control" name="description"></textarea>
                        <small id="descriptionHelpInline" class="invalid-feedback errors alert alert-danger">
                            Въведи валидно описание</small>
                    </div>
                    <h1>Choose picture</h1>
                    <input type="file" name="image" accept="image/png, image/jpeg" />


                    <hr class="my-3">
                    <h5 class="mb-3 text-primary">Допълнителна информация</h5>

                    <div class="col-md-6">
                        <label for="type" class="form-label">Вид забележителност</label>
                        <select th:errorclass="is-invalid" class="form-select" id="type" name="type">
                            <option value="">- Изберете тип на обекта -</option>
                            <option th:each="c : ${T(com.example.examfinal.model.entity.enums.NameType).values()}"
                                    th:text="${c}" th:value="${c}" th:selected="${c} == *{type}">Тип на обекта
                            </option>
                        </select>
                        <p id="typeHelpInline" class="errors alert alert-danger invalid-feedback">
                            Типът е задължителен.
                        </p>
                    </div>


                    <div class="col-md-6">
                        <label for="city" class="form-label">Тип на обекта</label>
                        <select th:errorclass="is-invalid" class="form-select" id="city" name="city">
                            <option value="">- Select a city -</option>
                            <option th:each="city : ${cities}"
                                    th:text="${city.name}"
                                    th:value="${city.id}"
                                    th:selected="${city.id}">City
                            </option>
                        </select>
                        <p id="cityHelpInline" class="errors alert alert-danger invalid-feedback">
                            Градът е задължителен.
                        </p>
                    </div>


                    <div class="col-md-5">
                        <label for="rating" class="form-label">Рейтинг</label>
                        <select th:errorclass="is-invalid" id="rating" name="rating" class="form-select">
                            <option value="">- Изберете Рейтинг -</option>
                            <option th:each="r : ${T(com.example.examfinal.model.entity.enums.RatingEnum).values()}"
                                    th:text="${r}" th:value="${r}" th:selected="${r} == *{rating}">Изберете Рейтинг
                            </option>
                        </select>
                        <p id="ratingHelpInline" class="errors alert alert-danger invalid-feedback">
                            Рейтингът е задължителен
                        </p>
                    </div>
                    <div class="col-md-5">
                        <label for="price" class="form-label">Цена на вход</label>
                        <input th:field="*{price}" th:errorclass="is-invalid" id="price" type="number" step=".01"
                               placeholder="Въведете цена" class="form-control"
                               name="price">
                        <small id="priceHelpInline" class="invalid-feedback errors alert alert-danger">
                            Въведете валидна цена.</small>

                    </div>

                    <div class="col-md-8 mb-3">
                        <label for="time" class="form-label">Време за престой</label>
                        <input th:field="*{time}" th:errorclass="is-invalid" id="time" type="number" step=".01"
                               placeholder="Въведете време за престой в часове" class="form-control"
                               name="time">
                        <small id="timeHelpInline" class="invalid-feedback errors alert alert-danger">
                            Въведете валиден час.</small>
                    </div>

                    <hr class="my-3">
                    <p class="mb-0">GPS координати</p>

                    <div class="col-md-6">
                        <div class="row mb-3">
                        <label for="latitude" class="col-3 col-form-label">Ширина</label>
                            <div class="col-9">
                            <input th:field="*{latitude}" th:errorclass="is-invalid" id="latitude" type="text"
                                   placeholder="Въведете с.ш."
                                   name="title" class="form-control">
                            <small id="latitudeHelpInline" class="invalid-feedback errors alert alert-danger">
                                Въведи валидно име на обект</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label for="longitude" class="col-3 col-form-label">Дължина</label>
                            <div class="col-9">
                                <input th:field="*{longitude}" th:errorclass="is-invalid" id="longitude" type="text"
                                       placeholder="Въведете и.д."
                                       name="title" class="form-control">
                                <small id="longitudeHelpInline" class="invalid-feedback errors alert alert-danger">
                                    Въведи валидно име на обект</small>
                            </div>
                        </div>
                    </div>

                    <hr class="my-3">
                    <div class="form-check">
                        <input th:field="*{naturalSites}" th:errorclass="is-invalid" type="checkbox" class="form-check-input" id="save-info">
                        <label class="form-check-label" for="save-info">Част е от 100 национални туристически
                            обекта</label>
                    </div>




                </div>
                <input type="submit" class="w-100 btn btn-primary btn-lg mt-4 mb-5" value="Създай обект">
            </form>
        </div>
    </main>
</div>



<footer class="container-fluid" th:replace="fragments/footer::footer"></footer>
</body>
</html>