<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="h-100">
<head th:replace="fragments/head::head"></head>

<body class="h-100">
<div class="d-flex flex-column h-100 bg-overlay">
    <header th:replace="fragments/navbar::nav">
    </header>
    <main class="h-100">
        <div class="container h-100 d-flex align-items-center">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1><span class="text-warning">Добре дошъл в статистиката на сайта!</span></h1>
                    <h3>Общо заявки:
                        <th:block th:text="${stats.getTotalRequests()}"></th:block>
                    </h3>
                    <h3>Анонимни заявки:
                        <th:block th:text="${stats.getAnonRequests()}"></th:block>
                    </h3>
                    <h3>Оторизирани заявки:
                        <th:block th:text="${stats.getAuthRequests()}"></th:block>
                    </h3>

                </div>
                <div class="col-lg-6 d-sm-none d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                    <img src="/images/bulgaria-landmarks.svg" class="img-fluid mx-auto" alt="map">
                </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid" th:replace="fragments/footer::footer"></footer>
</div>


</body>
</html>
